In [1]:
import sys
import os
import pandas as pd
import numpy as np

In [2]:
import MM as m
dir(m)
p = m.Parsons()

In [3]:
# expect ~ 30 seconds
alls = p.testAll()
df = pd.json_normalize(alls,meta=['folder', 'figure', 'file', 'fullfile', 'bug', 'msg', 'actual', 'expected', 'errortype'])

In [15]:
bads = df [ df['bug'] > 0]
bads

,folder,figure,file,fullfile,bug,msg,actual,expected,errortype
23446,../data/V/V1,Ericson2022figure2,Ericson2022figure2_13.py,../data/V/V1/Ericson2022figure2/Ericson2022fig...,1,error importing source code ../data/V/V1/Erics...,expected an indented block after function defi...,should import,import error
24395,../data/V/V1,Ericson2022figure2,Ericson2022figure2_13.py,../data/V/V1/Ericson2022figure2/Ericson2022fig...,1,error importing source code ../data/V/V1/Erics...,expected an indented block after function defi...,should import,import error
25360,../data/V/V1,Ericson2022figure2,Ericson2022figure2_13.py,../data/V/V1/Ericson2022figure2/Ericson2022fig...,1,error importing source code ../data/V/V1/Erics...,expected an indented block after function defi...,should import,import error
26341,../data/V/V1,Ericson2022figure2,Ericson2022figure2_13.py,../data/V/V1/Ericson2022figure2/Ericson2022fig...,1,error importing source code ../data/V/V1/Erics...,expected an indented block after function defi...,should import,import error
27338,../data/V/V1,Ericson2022figure2,Ericson2022figure2_13.py,../data/V/V1/Ericson2022figure2/Ericson2022fig...,1,error importing source code ../data/V/V1/Erics...,expected an indented block after function defi...,should import,import error
...,...,...,...,...,...,...,...,...,...
3072998,../data/V/V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_10.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error importing source code ../data/V/V3/Hayne...,expected an indented block after function defi...,should import,import error
3072999,../data/V/V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_7.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error running ../data/V/V3/Haynes_Magyar2022fi...,local variable 'count' referenced before assig...,should run,runtime error
3073000,../data/V/V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_15.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error importing source code ../data/V/V3/Hayne...,expected an indented block after function defi...,should import,import error
3073001,../data/V/V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_8.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error importing source code ../data/V/V3/Hayne...,expected an indented block after function defi...,should import,import error
3073002,../data/V/V3,Weinmann2021figure1,Weinmann2021figure1_5.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,1,error importing source code ../data/V/V3/Weinm...,expected an indented block after function defi...,should import,import error

In [43]:
g1 = df.groupby(['folder','figure','file'], as_index = False).sum('bug')
g1.to_csv('alls.csv', sep=',', index=False, encoding='utf-8')
bugs = g1[ g1['bug'] > 0]
# [['../data/V/V1/','../data/V/V2/','../data/V/V3/']]
#g2 = bugs.groupby(['folder','figure'], as_index = False).count()
g2 = bugs.groupby(['folder','figure'], as_index = False)['file'].count()
g2.to_csv('alls_bugs.csv', sep=',', index=False, encoding='utf-8')
g2

          folder                    figure  file
0   ../data/V/V1        Ericson2022figure2     2
1   ../data/V/V1        Ericson2022figure3     1
2   ../data/V/V1        Ericson2022figure4     1
3   ../data/V/V1        Ericson2022figure8     1
4   ../data/V/V1  Haynes_Magyar2022figure2     1
5   ../data/V/V1  Haynes_Magyar2022figure4     5
6   ../data/V/V1      Karavirta2012Figure3     2
7   ../data/V/V1       Weinmann2021figure1     1
8   ../data/V/V2        Ericson2017figure1     3
9   ../data/V/V2        Ericson2017figure4     8
10  ../data/V/V2        Ericson2018figure5     3
11  ../data/V/V2        Ericson2022figure2     8
12  ../data/V/V2        Ericson2022figure3     3
13  ../data/V/V2        Ericson2022figure4    10
14  ../data/V/V2        Ericson2022figure8     1
15  ../data/V/V2  Haynes_Magyar2022figure2    12
16  ../data/V/V2  Haynes_Magyar2022figure4     8
17  ../data/V/V2            Hou2022figure2     4
18  ../data/V/V2      Karavirta2012Figure3     4
19  ../data/V/V2       Weinmann2021figure1     4
20  ../data/V/V3        Ericson2017figure1     1
21  ../data/V/V3        Ericson2017figure4     3
22  ../data/V/V3        Ericson2018figure5     6
23  ../data/V/V3        Ericson2022figure2     3
24  ../data/V/V3        Ericson2022figure3     3
25  ../data/V/V3        Ericson2022figure4     6
26  ../data/V/V3        Ericson2022figure8     8
27  ../data/V/V3  Haynes_Magyar2022figure2     4
28  ../data/V/V3  Haynes_Magyar2022figure4    10
29  ../data/V/V3       Weinmann2021figure1     1

In [46]:
tb = pd.pivot_table(g2, values='file', index=['figure'], columns=['folder'], aggfunc='sum')
tb

folder                    ../data/V/V1  ../data/V/V2  ../data/V/V3
figure
Ericson2017figure1                 NaN           3.0           1.0
Ericson2017figure4                 NaN           8.0           3.0
Ericson2018figure5                 NaN           3.0           6.0
Ericson2022figure2                 2.0           8.0           3.0
Ericson2022figure3                 1.0           3.0           3.0
Ericson2022figure4                 1.0          10.0           6.0
Ericson2022figure8                 1.0           1.0           8.0
Haynes_Magyar2022figure2           1.0          12.0           4.0
Haynes_Magyar2022figure4           5.0           8.0          10.0
Hou2022figure2                     NaN           4.0           NaN
Karavirta2012Figure3               2.0           4.0           NaN
Weinmann2021figure1                1.0           4.0           1.0

In [51]:
et1 = df.groupby(['folder','figure','errortype'], as_index = False).sum('bug')
print(et1)
et1b = et1[ et1['bug'] > 0]
et2 = et1b.groupby(['folder','errortype'], as_index = False)['figure'].count()
print(et2)

          folder                    figure      errortype   bug
0   ../data/V/V1        Ericson2017figure1                    0
1   ../data/V/V1        Ericson2017figure4                    0
2   ../data/V/V1        Ericson2018figure5                    0
3   ../data/V/V1        Ericson2022figure2                    0
4   ../data/V/V1        Ericson2022figure2   import error  1307
..           ...                       ...            ...   ...
68  ../data/V/V3  Haynes_Magyar2022figure4  runtime error   136
69  ../data/V/V3            Hou2022figure2                    0
70  ../data/V/V3      Karavirta2012Figure3                    0
71  ../data/V/V3       Weinmann2021figure1                    0
72  ../data/V/V3       Weinmann2021figure1   import error     4

[73 rows x 4 columns]
         folder         errortype  figure
0  ../data/V/V1      import error       5
1  ../data/V/V1  output incorrect       3
2  ../data/V/V1     runtime error       2
3  ../data/V/V2      import error      12
4  ../data/V/V2  output incorrect       1
5  ../data/V/V2     runtime error       1
6  ../data/V/V3      import error      10
7  ../data/V/V3  output incorrect       1
8  ../data/V/V3     runtime error       2

In [53]:
# tb = pd.pivot_table(g2, values='file', index=['figure'], columns=['folder'], aggfunc='sum')
tb = pd.pivot_table(et2, values='figure', index=['errortype'], columns=['folder'], aggfunc='sum')
tb

folder            ../data/V/V1  ../data/V/V2  ../data/V/V3
errortype
import error                 5            12            10
output incorrect             3             1             1
runtime error                2             1             2