In [1]:
import sys
import os
import pandas as pd
import numpy as np

In [2]:
import MM as m
dir(m)
p = m.Parsons()

In [3]:
# expect ~ 30 seconds
alls = p.testAll()
len(alls)

In [5]:
# convert json to dataframe
df = pd.json_normalize(alls,meta=['folder', 'figure', 'file', 'fullfile', 'bug', 'msg', 'actual', 'expected', 'errortype'])
df

,folder,figure,file,fullfile,bug,msg,actual,expected,errortype
0,../data/V/V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,[] = 0,0,0,
1,../data/V/V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,[0] = 0,0,0,
2,../data/V/V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,"[0,0,0] = 0",0,0,
3,../data/V/V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,[-1] = -1,-1,-1,
4,../data/V/V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,"[1,0,-1,-1] = -1",-1,-1,
...,...,...,...,...,...,...,...,...,...
8309,../data/V/V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[1, 2, 0] = 0",5,5,
8310,../data/V/V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[0, 1, 2] = 5 7",7,7,
8311,../data/V/V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[0, 2, 1] = 5 7",7,7,
8312,../data/V/V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[4, 1, 1] = 5 9",9,9,
8313,../data/V/V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[-4, 1, 1] = 5 1",1,1,

In [6]:
# cleanup ../data/V for reports
df['folder'] = df['folder'].str.replace('../data/V/','')

/var/folders/60/bx5116316wl9cj1tjskkvsp00000gp/T/ipykernel_36146/2141472730.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['folder'] = df['folder'].str.replace('../data/V/','')

In [7]:
df

,folder,figure,file,fullfile,bug,msg,actual,expected,errortype
0,V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,[] = 0,0,0,
1,V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,[0] = 0,0,0,
2,V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,"[0,0,0] = 0",0,0,
3,V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,[-1] = -1,-1,-1,
4,V1,Ericson2017figure1,Ericson2017figure1_6.py,../data/V/V1/Ericson2017figure1/Ericson2017fig...,0,"[1,0,-1,-1] = -1",-1,-1,
...,...,...,...,...,...,...,...,...,...
8309,V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[1, 2, 0] = 0",5,5,
8310,V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[0, 1, 2] = 5 7",7,7,
8311,V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[0, 2, 1] = 5 7",7,7,
8312,V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[4, 1, 1] = 5 9",9,9,
8313,V3,Weinmann2021figure1,Weinmann2021figure1_11.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,0,"[-4, 1, 1] = 5 1",1,1,

In [8]:
bads = df [ df['bug'] > 0]
bads

,folder,figure,file,fullfile,bug,msg,actual,expected,errortype
948,V1,Ericson2022figure2,Ericson2022figure2_13.py,../data/V/V1/Ericson2022figure2/Ericson2022fig...,1,error importing source code ../data/V/V1/Erics...,expected an indented block after function defi...,should import,import error
1045,V1,Ericson2022figure2,Ericson2022figure2_9.py,../data/V/V1/Ericson2022figure2/Ericson2022fig...,1,error importing source code ../data/V/V1/Erics...,expected an indented block after function defi...,should import,import error
1238,V1,Ericson2022figure3,Ericson2022figure3_9.py,../data/V/V1/Ericson2022figure3/Ericson2022fig...,1,a b = 'ab' 'a b',a b,ab,output incorrect
1239,V1,Ericson2022figure3,Ericson2022figure3_9.py,../data/V/V1/Ericson2022figure3/Ericson2022fig...,1,aa bb = 'ab',aa bb,ab,output incorrect
1240,V1,Ericson2022figure3,Ericson2022figure3_9.py,../data/V/V1/Ericson2022figure3/Ericson2022fig...,1,aaa bbb = ab,aaa bbb,ab,output incorrect
...,...,...,...,...,...,...,...,...,...
7465,V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_10.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error importing source code ../data/V/V3/Hayne...,expected an indented block after function defi...,should import,import error
7508,V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_7.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error running ../data/V/V3/Haynes_Magyar2022fi...,local variable 'count' referenced before assig...,should run,runtime error
7509,V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_15.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error importing source code ../data/V/V3/Hayne...,expected an indented block after function defi...,should import,import error
7510,V3,Haynes_Magyar2022figure4,Haynes_Magyar2022figure4_8.py,../data/V/V3/Haynes_Magyar2022figure4/Haynes_M...,1,error importing source code ../data/V/V3/Hayne...,expected an indented block after function defi...,should import,import error
8256,V3,Weinmann2021figure1,Weinmann2021figure1_5.py,../data/V/V3/Weinmann2021figure1/Weinmann2021f...,1,error importing source code ../data/V/V3/Weinm...,expected an indented block after function defi...,should import,import error

In [9]:
g1 = df.groupby(['folder','figure','file'], as_index = False).sum('bug')
g1.to_csv('alls.csv', sep=',', index=False, encoding='utf-8')
bugs = g1[ g1['bug'] > 0]

g2 = bugs.groupby(['folder','figure'], as_index = False)['file'].count()
g2.to_csv('alls_bugs.csv', sep=',', index=False, encoding='utf-8')
g2

   folder                    figure  file
0      V1        Ericson2022figure2     2
1      V1        Ericson2022figure3     1
2      V1        Ericson2022figure4     1
3      V1        Ericson2022figure8     1
4      V1  Haynes_Magyar2022figure2     1
5      V1  Haynes_Magyar2022figure4     5
6      V1      Karavirta2012Figure3     2
7      V1       Weinmann2021figure1     1
8      V2        Ericson2017figure1     3
9      V2        Ericson2017figure4     8
10     V2        Ericson2018figure5     3
11     V2        Ericson2022figure2     8
12     V2        Ericson2022figure3     3
13     V2        Ericson2022figure4    10
14     V2        Ericson2022figure8     1
15     V2  Haynes_Magyar2022figure2    12
16     V2  Haynes_Magyar2022figure4     8
17     V2            Hou2022figure2     4
18     V2      Karavirta2012Figure3     4
19     V2       Weinmann2021figure1     4
20     V3        Ericson2017figure1     1
21     V3        Ericson2017figure4     3
22     V3        Ericson2018figure5     6
23     V3        Ericson2022figure2     3
24     V3        Ericson2022figure3     3
25     V3        Ericson2022figure4     6
26     V3        Ericson2022figure8     8
27     V3  Haynes_Magyar2022figure2     4
28     V3  Haynes_Magyar2022figure4    10
29     V3       Weinmann2021figure1     1

In [10]:
tb = pd.pivot_table(g2, values='file', index=['figure'], columns=['folder'], aggfunc='sum')
tb

folder                     V1    V2    V3
figure
Ericson2017figure1        NaN   3.0   1.0
Ericson2017figure4        NaN   8.0   3.0
Ericson2018figure5        NaN   3.0   6.0
Ericson2022figure2        2.0   8.0   3.0
Ericson2022figure3        1.0   3.0   3.0
Ericson2022figure4        1.0  10.0   6.0
Ericson2022figure8        1.0   1.0   8.0
Haynes_Magyar2022figure2  1.0  12.0   4.0
Haynes_Magyar2022figure4  5.0   8.0  10.0
Hou2022figure2            NaN   4.0   NaN
Karavirta2012Figure3      2.0   4.0   NaN
Weinmann2021figure1       1.0   4.0   1.0

In [11]:
et1 = df.groupby(['folder','figure','errortype'], as_index = False).sum('bug')

et1b = et1[ et1['bug'] > 0]
et2 = et1b.groupby(['folder','errortype'], as_index = False)['figure'].count()
et2

  folder         errortype  figure
0     V1      import error       5
1     V1  output incorrect       3
2     V1     runtime error       2
3     V2      import error      12
4     V2  output incorrect       1
5     V2     runtime error       1
6     V3      import error      10
7     V3  output incorrect       1
8     V3     runtime error       2

In [12]:
tb = pd.pivot_table(et2, values='figure', index=['errortype'], columns=['folder'], aggfunc='sum')
tb

folder            V1  V2  V3
errortype
import error       5  12  10
output incorrect   3   1   1
runtime error      2   1   2