In [20]:
import sys
import os
import pandas as pd

In [41]:
def read_file_to_str(filepath):
    with open(filepath, 'r') as f:
        return f.read()

In [87]:
import MM as m
dir(m)
n = m.Parsons.test1('Ericson2018figure5')
print ( n )
# dir(m.Parsons.test1('../data/V/V1', 0))

TypeError: Parsons.test1() missing 1 required positional argument: 'aname'

In [79]:
fn = getattr(m,"inspect")

In [2]:
import Parsons_Ericson2018figure5 as g
m = g.Ericson2018figure5()

In [5]:
go = m.go("../data/V/V1", 0)
pp = m.pp("../data/V/V1", 0)

In [16]:
df = pd.DataFrame()

In [22]:
# for i in range( len(codex_solution_dfs) ):
#     for j in range( len(codex_solution_dfs[i]) ):
#         write_str_to_file( codex_solution_dfs[i].iloc[j][2],
#                               f'data/V/V{i+1}/{codex_solution_dfs[i].iloc[j][3]}/{codex_solution_dfs[i].iloc[j][3]}_{j%20}.py' )
 
problems = [os.path.splitext(filename)[0] for filename in os.listdir('../data/problems')]
print("Problems: ", problems)
    
true_solutions = {}
for problem in problems:
    true_solutions[problem] = read_file_to_str(f'../data/problems/{problem}.py')

Problems:  ['Ericson2018figure5', 'Weinmann2021figure1', 'Ericson2022figure8', 'Ericson2022figure3', 'Hou2022figure2', 'Haynes_Magyar2022figure4', 'Ericson2022figure2', 'Ericson2017figure1', 'Karavirta2012Figure3', 'Ericson2017figure4', 'Ericson2022figure4', 'Haynes_Magyar2022figure2']

NameError: name 'read_file_to_str' is not defined

In [61]:
import importlib
m = importlib.import_module('Parsons_Ericson2018figure5')
# go = m.go("../data/V/V1", 0)
dir(m.Parsons.go('../data/V/V1', 0))

# dir(m.M.go('../data/V/V1', 0))

['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__file__', '__cached__', '__builtins__', 'sys', 'M', 'Ericson2018figure5']

AttributeError: module 'Parsons_Ericson2018figure5' has no attribute 'go'

In [47]:
import imp
import sys
  
# dynamic import 
def dynamic_imp(name, class_name):

    try:
        fp, path, desc = imp.find_module(name)
    except ImportError:
        print ("module not found: " + name)
          
    try:
        example_package = imp.load_module(name, fp, path, desc)
    except Exception as e:
        print(e)
          
    try:
        myclass = imp.load_module("% s.% s" % (name,
                                               class_name), 
                                  fp, path, desc)
    except Exception as e:
        print(e)
          
    return example_package, myclass
      
# #  Driver code
# if __name__ == "__main__":
#     mod, modCl = dynamic_imp("GFG", "addNumbers")
#     modCl.addNumbers(1, 2)

/var/folders/60/bx5116316wl9cj1tjskkvsp00000gp/T/ipykernel_24687/2585969710.py:1: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  import imp

In [46]:
p = [os.path.splitext(filename) for filename in os.listdir('./')]
from fnmatch import fnmatch

pattern = "Parsons_*.py"
for path, subdirs, files in os.walk('./'):
    for name in files:
        if fnmatch(name, pattern):
            print(f'maybe... {name}')

prefix = '../data/V'
v = [os.path.splitext(filename)[0] for filename in os.listdir(prefix)]
print("V: ", v)
v = [os.path.splitext(filename) for filename in os.listdir(prefix)]
print("V: ", v)
for f in [os.path.join(filename) for filename in os.listdir(prefix)]:
    print(f'we should run {prefix}/{f}')
#     import Parsons_Ericson2018figure5 as g
#     m = g.Ericson2018figure5()
print("V: ", v)

# all
# print ([os.path.join(path, name) for path, subdirs, files in os.walk('../data/V') for name in files])

maybe... Parsons_Weinmann2021figure1.py
maybe... Parsons_Ericson2022figure8.py
maybe... Parsons_Ericson2018figure5.py
maybe... Parsons_Ericson2022figure2.py
maybe... Parsons_Karavirta2012Figure3.py
maybe... Parsons_Haynes_Magyar2022figure2.py
maybe... Parsons_Ericson2022figure3.py
maybe... Parsons_Ericson2022figure4.py
maybe... Parsons_Ericson2017figure1.py
maybe... Parsons_Haynes_Magyar2022figure4.py
maybe... Parsons_Hou2022figure2.py
V:  ['V1', 'V2', 'V3']
V:  [('V1', ''), ('V2', ''), ('V3', '')]
we should run ../data/V/V1
we should run ../data/V/V2
we should run ../data/V/V3
V:  [('V1', ''), ('V2', ''), ('V3', '')]

In [11]:
go[0]

{'folder': '../data/V/V1',
 'figure': 'Ericson2018figure5',
 'file': 'Ericson2018figure5_0',
 'ok': 0,
 'msg': '([1],0,0) = T',
 'actual': True,
 'expected': True,
 'errortype': ''}

In [14]:
# jn = pd.json_normalize(go,record_path=[''],meta=['folder', 'figure', 'file', 'ok', 'msg', 'actual', 'expected', 'errortype'])
jn = pd.json_normalize(go,meta=['folder', 'figure', 'file', 'ok', 'msg', 'actual', 'expected', 'errortype'])

In [15]:
jn

,folder,figure,file,ok,msg,actual,expected,errortype
0,../data/V/V1,Ericson2018figure5,Ericson2018figure5_0,0,"([1],0,0) = T",True,True,
1,../data/V/V1,Ericson2018figure5,Ericson2018figure5_0,0,"([1,1,1],0,0) =T",True,True,
2,../data/V/V1,Ericson2018figure5,Ericson2018figure5_0,0,"([1,1,99],0,0) =T",True,True,
3,../data/V/V1,Ericson2018figure5,Ericson2018figure5_0,0,"([1,1,1],0,1) =T",True,True,
4,../data/V/V1,Ericson2018figure5,Ericson2018figure5_0,0,"([1,1,99],0,1) =T",True,True,
...,...,...,...,...,...,...,...,...
475,../data/V/V1,Ericson2018figure5,Ericson2018figure5_19,0,"([0,3,6,9,12,15,18,21,24,27],0,4) :",False,False,
476,../data/V/V1,Ericson2018figure5,Ericson2018figure5_19,0,"([0,3,6,9,12,15,18,21,24,27],1,5) :",False,False,
477,../data/V/V1,Ericson2018figure5,Ericson2018figure5_19,0,"([0,3,6,9,12,15,18,21,24,27],2.6) :",False,False,
478,../data/V/V1,Ericson2018figure5,Ericson2018figure5_19,0,"([0,3,6,9,12,15,18,21,24,27],2.6) :",False,False,
479,../data/V/V1,Ericson2018figure5,Ericson2018figure5_19,0,"([0,3,6,9,12,15,18,21,24,27],0,5) :",False,False,

In [24]:
# del sys.modules["Ericson2017figure1_19"]

In [6]:
# read from files instead of direct json
#
# import pandas as pd
# df1 = pd.read_json('v1.json')
# df1
# df2 = pd.read_json('v2.json')
# df2.describe()
# df3 = pd.read_json('v3.json')
# df3

,folder,figure,file,msg,ok,actual,expected,errortype
0,V1,Ericson2017figure1,Ericson2017figure1_0,[] = 0,0,0,0,
1,V1,Ericson2017figure1,Ericson2017figure1_0,[0] = 0,0,0,0,
2,V1,Ericson2017figure1,Ericson2017figure1_0,"[0,0,0] = 0",0,0,0,
3,V1,Ericson2017figure1,Ericson2017figure1_0,[-1] = -1,0,-1,-1,
4,V1,Ericson2017figure1,Ericson2017figure1_0,"[1,0,-1,-1] = -1",0,-1,-1,
5,V1,Ericson2017figure1,Ericson2017figure1_0,"[1,2,3,4] = 10",0,10,10,
6,V1,Ericson2017figure1,Ericson2017figure1_0,"[-99,1,1,1,1,1] = 94",0,-94,-94,
7,V1,Ericson2017figure1,Ericson2017figure1_1,[] = 0,0,0,0,
8,V1,Ericson2017figure1,Ericson2017figure1_1,[0] = 0,0,0,0,
9,V1,Ericson2017figure1,Ericson2017figure1_1,"[0,0,0] = 0",0,0,0,
10,V1,Ericson2017figure1,Ericson2017figure1_1,[-1] = -1,0,-1,-1,
11,V1,Ericson2017figure1,Ericson2017figure1_1,"[1,0,-1,-1] = -1",0,-1,-1,
12,V1,Ericson2017figure1,Ericson2017figure1_1,"[1,2,3,4] = 10",0,10,10,
13,V1,Ericson2017figure1,Ericson2017figure1_1,"[-99,1,1,1,1,1] = 94",0,-94,-94,
14,V1,Ericson2017figure1,Ericson2017figure1_2,[] = 0,0,0,0,
15,V1,Ericson2017figure1,Ericson2017figure1_2,[0] = 0,0,0,0,
16,V1,Ericson2017figure1,Ericson2017figure1_2,"[0,0,0] = 0",0,0,0,
17,V1,Ericson2017figure1,Ericson2017figure1_2,[-1] = -1,0,-1,-1,
18,V1,Ericson2017figure1,Ericson2017figure1_2,"[1,0,-1,-1] = -1",0,-1,-1,
19,V1,Ericson2017figure1,Ericson2017figure1_2,"[1,2,3,4] = 10",0,10,10,
20,V1,Ericson2017figure1,Ericson2017figure1_2,"[-99,1,1,1,1,1] = 94",0,-94,-94,
21,V1,Ericson2017figure1,Ericson2017figure1_3,[] = 0,0,0,0,
22,V1,Ericson2017figure1,Ericson2017figure1_3,[0] = 0,0,0,0,
23,V1,Ericson2017figure1,Ericson2017figure1_3,"[0,0,0] = 0",0,0,0,
24,V1,Ericson2017figure1,Ericson2017figure1_3,[-1] = -1,0,-1,-1,
25,V1,Ericson2017figure1,Ericson2017figure1_3,"[1,0,-1,-1] = -1",0,-1,-1,
26,V1,Ericson2017figure1,Ericson2017figure1_3,"[1,2,3,4] = 10",0,10,10,
27,V1,Ericson2017figure1,Ericson2017figure1_3,"[-99,1,1,1,1,1] = 94",0,-94,-94,
28,V1,Ericson2017figure1,Ericson2017figure1_4,[] = 0,0,0,0,
29,V1,Ericson2017figure1,Ericson2017figure1_4,[0] = 0,0,0,0,
30,V1,Ericson2017figure1,Ericson2017figure1_4,"[0,0,0] = 0",0,0,0,
31,V1,Ericson2017figure1,Ericson2017figure1_4,[-1] = -1,0,-1,-1,
32,V1,Ericson2017figure1,Ericson2017figure1_4,"[1,0,-1,-1] = -1",0,-1,-1,
33,V1,Ericson2017figure1,Ericson2017figure1_4,"[1,2,3,4] = 10",0,10,10,
34,V1,Ericson2017figure1,Ericson2017figure1_4,"[-99,1,1,1,1,1] = 94",0,-94,-94,
35,V1,Ericson2017figure1,Ericson2017figure1_5,[] = 0,0,0,0,
36,V1,Ericson2017figure1,Ericson2017figure1_5,[0] = 0,0,0,0,
37,V1,Ericson2017figure1,Ericson2017figure1_5,"[0,0,0] = 0",0,0,0,
38,V1,Ericson2017figure1,Ericson2017figure1_5,[-1] = -1,0,-1,-1,
39,V1,Ericson2017figure1,Ericson2017figure1_5,"[1,0,-1,-1] = -1",0,-1,-1,
40,V1,Ericson2017figure1,Ericson2017figure1_5,"[1,2,3,4] = 10",0,10,10,
41,V1,Ericson2017figure1,Ericson2017figure1_5,"[-99,1,1,1,1,1] = 94",0,-94,-94,

In [3]:
class Person:
	def __init__(self, first, last):
		self.first = first
		self.last = last
	def __str__(self):
		return (self.first + " " + self.last)
	def initials(self):
		return(self.first[0] + self.last[0])

In [4]:
p = Person("yo", "Blee")
print (p)

yo Blee